<!DOCTYPE html>
<html>

<head>
    <title>Restablecimiento de contraseña</title>
</head>

<body>
    <h3>Reestablecimiento de contraseña</h3>
    <div id='content'>
        <p>Por favor, rellene los campos según se indique, al finalizar, haga click sobre botón 'Continuar':</p>
        <input type='text' name='' id='email' onkeyup='changePasswordOnEnter(event)'
            placeholder='Correo electrónico'><br>
        <input type='password' name='' id='newPass' onkeyup='changePasswordOnEnter(event)'
            placeholder='Nueva contraseña'><br>
        <input type='password' name='' id='newPassRep' onkeyup='changePasswordOnEnter(event)'
            placeholder='Repetir contraseña'><br>
        <button type='button' onclick='changePassword(event)'>Continuar</button><br><br>
        <strong>Nota</strong>:<br><ul><li>La nueva contraseña debe tener al menos una letra y un número, y debe contener al menos 7 caracteres.</li></ul>
        <div id='alert'></div>
    </div>

    <script src="public/js/resetPassword.js"></script>
</body>

</html>